* 
{ 
    margin: 0; 
    padding: 0;
}
html {
    height: 100%;
}

header, 
main,
section,  
nav, 
div, 
aside,
footer
{
    display: block;
}

body {
    background: url('../images/map.svg') #AAA 0/cover;
    font-family: 'Open sans', sans-serif;
    height: 100%;
}

header > section {
    width: 50px;
    height: 50px;
    background: #FFF;
    border-radius: 100%;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main { 
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: calc(100% - 50px);
    
}
#panelsContainer {
    height: 70%;
    padding: 0;
}
#panelsContainer > section:first-child {
    background-color: #313131;
    height: 35%;
    top: 35px;
    position: relative;
}
#panelsContainer > section:nth-child(2) {
    position: relative;
    height: 65%
}
#panelsContainer > section {
    background-color: #727272;
    border-radius: 30px 30px 0 0;
}
#panelsContainer > section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

#panelsContainer .tripItem {
    justify-content: center;
    align-items: center;
    color: #FFF;
}
#panelsContainer .tripItem.data {
    font-size: 20px;
    font-weight: 700;
}
#panelsContainer .tripItem.detail {
    font-size: 15px;
    font-weight: 200;
}
#secondaryPanel > section{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#panelsContainer .col {
    text-align: center;
}




