*
{
    margin: 0;
    padding: 0;
}

header,
main,
section,
nav,
div,
aside,
footer
{
    display: block;
}

header{
    width: 100%;
    padding-top: 1px;
    background-color: white;
}

.profile {
    display: block;
    background: url("../images/userPic.png") 50%/contain no-repeat;
    height: 46px;
    width: 50px;
}


#pageTitle {
    /* position: absolute; */
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color:  #454F63;
    font-size: 26px;
}

.menuBar{
    margin-top: 10px;
}

.navbar{
    background-color: #e3f2fd;
}

/* Mobile */
@media (max-width: 700px) {
    body .card-body {
        display: none;
    }
    body .card-img-overlay {
        color: #FFF;
    }
}
/* Desktop */
@media (min-width: 700px) {
    body .card-img-overlay {
        display: none;
    }
}