*
{
    margin: 0;
    padding: 0;
}

header,
main,
section,
nav,
div,
aside,
footer
{
    display: block;
}

header{
    width: 100%;
    padding-top: 1px;
    background-color: white;
}

.profile {
    display: block;
    background: url("../images/user.png") 50%/contain no-repeat;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 2px solid #AAA;
    margin: 2px;
}


#pageTitle {
    /* position: absolute; */
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    color:  #454F63;
    font-size: 26px;
}

.menuBar{
    margin-top: 10px;
}

.navbar{
    background-color: #e3f2fd;
}

/* Mobile */
@media (max-width: 700px) {
    body .card-body {
        display: none;
    }
    body .card-img-overlay {
        color: #FFF;
        background: rgba(0,0,0,0.3);
        display: flex;
        justify-content: flex-end;
        align-items: self-start;
        flex-flow: column;
    }
    .card-title{
        font-size: 24px;
        font-weight: 700;
    }
}
/* Desktop */
@media (min-width: 700px) {
    body .card-img-overlay {
        display: none;
    }
}

#mainList header {
    box-shadow: 2px 2px 12px 0px #AAA;
}